
HOST=127.0.0.1
PORT=8000
RELOAD=true

# DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=9000
DB_NAME=swiftshop_db

DATABASE_URL=postgresql://postgres:9000@localhost/swiftshop_db

JWT_SECRET=superswiftsecretkey
JWT_ALGORITHM=HS256
JWT_EXPIRES_IN=60
GOOGLE_REDIRECT_URI=
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

   Email  =admin@swiftshop.com
   Password = Admin@1234
   Role     = Admin